---
title: Strategia GEM
---
<h1>Strategia GEM </h1>

<div class="container">
  <div class="description">
    <p>Strategia GEM (ang. Global Equities Momentum) jest strategi inwestycyjn opracowan przez Gary'ego Antonacciego. Jest to strategia oparta na zasadzie momentum, kt贸ra polega na inwestowaniu w aktywa, kt贸re wykazuj silny wzrost cenowy w okrelonym okresie czasu, i unikaniu tych, kt贸re wykazuj saby wzrost lub spadek cen.</p>
    <p>Podstawow ide strategii GEM jest wykorzystanie trend贸w cenowych na globalnych rynkach akcji do podejmowania decyzji inwestycyjnych. W ramach tej strategii inwestor monitoruje zachowanie cen aktyw贸w na r贸偶nych rynkach na caym wiecie i wybiera te aktywa, kt贸re wykazuj najlepsze wyniki w okrelonym okresie. Nastpnie inwestuje w te aktywa, oczekujc kontynuacji trendu wzrostowego.</p>
    <p>Strategia GEM jest czsto stosowana przez inwestor贸w poszukujcych mo偶liwoci dywersyfikacji portfela inwestycyjnego oraz generowania nadzwyczajnych zwrot贸w przy umiarkowanym poziomie ryzyka. Jednak偶e, jak ka偶da strategia inwestycyjna, r贸wnie偶 GEM ma swoje zalety i wady, a jej skuteczno mo偶e by uzale偶niona od wielu czynnik贸w, takich jak warunki rynkowe, techniki analizy, czy stopie dywersyfikacji portfela.</p>
  </div>
</div>

<div class="container">
  <div class="description">
    <h3>Reguy</h3>
    <ul>
      <li><p>Co miesic przeprowadzamy analiz, sprawdzajc, czy stopa zwrotu z akcji amerykaskich (indeks S&P 500) oraz akcji globalne bez USA za ostatnie 12 miesicy przewy偶sza tzw. stop woln od ryzyka, reprezentowan np. przez obligacje skarbowe USA, czyli ekwiwalent lokaty w banku.</p></li>
      <li><p>Jeli stopa zwrotu z S&P 500 i akcji globalnych bez USA jest ni偶sza ni偶 stopa zwrotu z obligacji w cigu ostatnich 12 miesicy, nie ma sensu utrzymywa akcji w portfelu. W takim przypadku mo偶emy osign wy偶sze zyski przy mniejszym ryzyku poprzez inwestowanie w obligacje lub bony skarbowe.</p></li>
      <li><p>Jeli stopa zwrotu z S&P 500 i/lub akcji globalnych bez USA jest wy偶sza ni偶 stopa zwrotu z obligacji, oznacza to, 偶e rynek akcji prze偶ywa trend wzrostowy, co skania nas do posiadania akcji w portfelu. Nastpnie sprawdzamy, kt贸re z tych dw贸ch rynk贸w wygenerowao wy偶sz stop zwrotu w cigu ostatnich 12 miesicy: czy to akcje amerykaskie (S&P 500), czy rynki wschodzce. Inwestujemy w indeks, kt贸ry osign wy偶sz stop zwrotu.</p></li>
    </ul>

    <h3>Kluczowe kwestie</h3>
    <ul>
      <li><p>Strategia jest ukierunkowana na dugoterminowe inwestycje, a nie na spekulacj kr贸tkoterminow. Inwestorzy mog utrzymywa swoje pozycje przez wiele lat, korzystajc z potencjalnych korzyci zwizanych ze wzrostem rynku akcji i obowizk贸w w dugim terminie.</p></li>
      <li><p>Inwestor okrela okres, na kt贸rym bdzie bazowa swoje decyzje inwestycyjne. Najczciej stosowanymi okresami s 12 miesicy, 6 miesicy lub 3 miesice, ale mo偶e to by dostosowane do indywidualnych preferencji.</p></li>
      <li><p>Na koniec ka偶dego okresu obserwacji (np. co miesic, przy czym zawsze musi to by ten sam dzie miesica), inwestor rankinguje aktywa na podstawie ich wzrostu cenowego w danym okresie.</p></li>
      <li><p>Istotn czci strategii GEM jest zachowanie dyscypliny i konsekwencji w realizacji regu strategii, bez podejmowania decyzji na podstawie emocji czy chwilowych impuls贸w rynkowych.</p></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="description">
    <h3>Wykorzystywane ETF-y (propozycja)</h3>
    <ol>
      <li><p><b>S&P 500 - Invesco S&P 500 UCITS ETF (SPXS.UK)</b></p></p>
      <li><p><b>Akcje globalne bez USA - Vanguard FTSE All World ex US ETF (VEU.US)</b>. Z uwagi na to, 偶e ETF ten nie jest dostpny na rynku europejskim, stanowi on wycznie wska藕nik do potencjalnej zmiany w portfelu. Komponent zawierajcy akcje globalne bez USA mo偶na spr贸bowa zo偶y z dw贸ch innych ETF-贸w np. na akcje rynk贸w rozwinitych bez USA (<b>Xtrackers MSCI World ex USA UCITS ETF 1C</b> - jedyny dostpny taki ETF) oraz na akcje rynk贸w wschodzcych (<b>iShares Core MSCI Emerging Markets IMI UCITS ETF 1C</b>). Taki komponent powinien odwzorowywa benchmark FTSE All World ex-US, kt贸ry naladuje VEU.US.</p></p>
      <li><p><b>Bony skarbowe - iShares USD Treasury Bond 0-1yr UCITS ETF (IB01.LSE)</b></p></p>
    </ol>
  </div>
</div>

<div class="container">
  <div class="description">
    <h4>Adnotacja</h4>
    <p>Pon偶iej przedstawione s wyniki dla strategii w okresach 12, 6 i 3 miesicy. Kolorem zielonym oznaczona jest kom贸rka dla ETF-u, w kt贸ry nale偶y zainwestowa zgodnie ze strategi. Wyniki aktualizowane s codziennie w nocy, a zatem przedstawiaj stan faktyczny na dzie poprzedzajcy. Wskazane jest podejmowanie dziaa w portfelu zawsze w wybrany dzie miesica np. chcc inwestowa w ostatni dzie miesica nale偶y sprawdzi sygnay w ostatni dzie roboczy miesica, podczas kt贸rego jest otwarta gieda.</p>
  </div>
</div>

<div class="container">
  <div class="section">
    <h2>Wyniki za ostatnie 12 miesicy:</h2>
    <div class='signal-table' style="overflow-x:auto;">
      <table id='table_12_months'>
        <tr>
          <th>Data sygnau</th>
          <th>SPXS.UK</th>
          <th>VEU.US</th>
          <th>IB01.LSE</th>
        </tr>
        <% data.percentage_change_12_months.each do |date| %>
        <tr>
          <td><%= date.first %></td>
          <td><%= date.second["SPXS.LSE"] %>%</td>
          <td><%= date.second["VEU.US"] %>%</td>
          <td><%= date.second["IB01.LSE"] %>%</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="section">
    <h2>Wyniki za ostatnie 6 miesicy:</h2>
    <div class='signal-table' style="overflow-x:auto;">
      <table id='table_6_months'>
        <tr>
          <th>Data sygnau</th>
          <th>SPXS.UK</th>
          <th>VEU.US</th>
          <th>IB01.LSE</th>
        </tr>
        <% data.percentage_change_6_months.each do |date| %>
        <tr>
          <td><%= date.first %></td>
          <td><%= date.second["SPXS.LSE"] %>%</td>
          <td><%= date.second["VEU.US"] %>%</td>
          <td><%= date.second["IB01.LSE"] %>%</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="section">
    <h2>Wyniki za ostatnie 3 miesicy:</h2>
    <div class='signal-table' style="overflow-x:auto;">
      <table id='table_3_months'>
        <tr>
          <th>Data sygnau</th>
          <th>SPXS.UK</th>
          <th>VEU.US</th>
          <th>IB01.LSE</th>
        </tr>
        <% data.percentage_change_3_months.each do |date| %>
        <tr>
          <td><%= date.first %></td>
          <td><%= date.second["SPXS.LSE"] %>%</td>
          <td><%= date.second["VEU.US"] %>%</td>
          <td><%= date.second["IB01.LSE"] %>%</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  function findHighestCellIndex(row) {
    let highestValue = Number.NEGATIVE_INFINITY;
    let highestIndex = -1;

    for (let i = 1; i < row.cells.length; i++) {
      let cellValue = parseFloat(row.cells[i].textContent);
      if (!isNaN(cellValue) && cellValue > highestValue) {
        highestValue = cellValue;
        highestIndex = i;
      }
    }

    return highestIndex;
  }

  function highlightHighestCells(tableId) {
    let table = document.getElementById(tableId);

    for (let i = 1; i < table.rows.length; i++) {
      let rowIndex = findHighestCellIndex(table.rows[i]);
      if (rowIndex !== -1) {
        table.rows[i].cells[rowIndex].style.backgroundColor = '#e5f7ea'; // Light green color
      }
    }
  }

  highlightHighestCells('table_12_months');
  highlightHighestCells('table_6_months');
  highlightHighestCells('table_3_months');
</script>